@import "bower_components/bootstrap/less/bootstrap.less";
@import "datepicker/datepicker3.less";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

#main-content {
  min-height: 400px;
  text-align: center;
}



/*#region Headers */

.page-header {
  margin: 0px 0px 15px 0px;
  border-bottom: 2px solid @brand-primary;
  color: @brand-info;
}

.section-header {
  margin: 0px 0px 10px 0px;
}

header {
  text-align: center;
  margin: 0 .7em;
  position: relative;
}

  header p {
    font-size: 2.5em;
    margin: 0;
  }

#body {
  clear: both;
}

#userSettings ul {
  list-style-type: none;
}

#userSettings ul li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#userSettings ul li:nth-child(odd) {
  border-right: 1px solid;
}

#userSettings form {
  display: inline;
}

#menu {
  list-style-type: none;
  padding: 0;
}

  #menu li {
    display: inline-block;
  }

    #menu li:not(:first-child) {
      margin-left: 10px;
    }

/*#endregion */

/*#region auth forms */

#changePasswordForm input,
#registerForm input,
#loginForm input {
  border: 1px solid #dedede;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

  #changePasswordForm input[type=text], #changePasswordForm input[type=password],
  #registerForm input[type=text], #registerForm input[type=password],
  #loginForm input[type=text], #loginForm input[type=password] {
    background: white;
    width: 220px;
  }

  #loginForm input[type=checkbox] {
    border: none;
  }

  #changePasswordForm input[type=submit] {
    margin-bottom: .8em;
  }

#registerPanel {
  display: none;
  position: relative;
  float: left;
  text-align: left;
  padding: 25px;
}

#loginPanel {
  display: block;
  padding: 25px;
  width: 600px;
}

  #registerPanel h2,
  #loginPanel h2 {
    padding-bottom: .5em;
    margin: 0;
  }

  #registerPanel a,
  #loginPanel a {
    color: navy;
    font-weight: bold;
    cursor: pointer;
  }

  #registerPanel p,
  #loginPanel p {
    clear: both;
  }

#localLoginPanel {
  border-right: solid 2px #c8c8c8;
  float: left;
  width: 45%;
  text-align: left;
}

#socialLoginPanel {
  margin-left: 40px;
  float: left;
  width: 45%;
  text-align: left;
}

  #socialLoginPanel h2 {
    margin-bottom: 5px;
  }

#socialLoginList button {
  margin-bottom: 12px;
}

#externalLogins {
  text-align: left;
  padding-left: 25px;
}

fieldset {
  border: none;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  display: inline;
}

  fieldset legend {
    display: none;
  }

  fieldset label:not(.checkbox) {
    display: block;
    text-align: left;
  }

  fieldset ol {
    padding: 0;
    margin: 0 0 8px 0;
    list-style: none;
  }

    fieldset ol li {
      padding-bottom: 5px;
    }

ol.round {
  list-style-type: none;
  padding-left: 0;
}

/*#endregion */

/*#region info and errors */
.error {
  float: none;
  color: red;
  padding-left: .5em;
  vertical-align: top;
}

.validation-summary-errors {
  color: red;
  list-style: none;
  width: 220px;
  font-size: .8em;
}

  .validation-summary-errors ul {
    padding: 0 !important;
    margin: 0 !important;
  }

/*#endregion */

/*#region Unauthorized */

#unauthorized {
  margin: 3em 0;
  text-align: center;
}

  #unauthorized ul {
    list-style: none;
    padding: 0;
    margin: 3em 0;
  }

  #unauthorized li {
    display: inline-block;
    padding: 6px 20px;
    background-color: #dedede;
    border: 1px solid gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

    #unauthorized li:first-child {
      margin-right: 2em;
    }

/*#endregion */

/*#region Footer */

footer {
  clear: both;
  margin-top: 60px;
}
/*#endregion */

/* #region Budget Detail */

[data-ui-sortable] {
  list-style-type: none;
  padding:0px;
  margin:0px;

  li {
    cursor:move;
  }
}


#category-list {
  margin-top: 20px;
}

#category-list, #income {

  .row {
    border-bottom: 1px solid @gray-lighter;
  }
}

.budget-list.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.category-selector {
  .form-control {
    width: auto;
    display:inline-block;
  }
}

#toggle-income-details {
  cursor: pointer;
}

#income-summary {
  font-size: 18px;
  table {
    margin-bottom: 5px;
  }
  td {
    text-align: right;
  }
}

/* #endregion */

/* #region Budget List */

#budget-list {
  margin-top: 10px;
}

/* #endregion */