<h1>{{budget.name}}</h1>
<button class="btn btn-default" data-ng-click="addCategory()">Add New Category</button>
<br />
<div id="category-list">
  <div class="row" data-ng-show="budget.categories.length > 0">
    <div class="col-md-4"><strong>Category</strong></div>
    <div class="col-md-2"><strong>Budgeted Amount</strong></div>
    <div class="col-md-2"><strong>Actual Amount</strong></div>
  </div>
  <div class="row" data-ng-repeat="category in budget.categories">
    <div class="col-md-4" >
      <select class="form-control" data-on-change="endEdit(category)" data-ng-model="category.category" data-ng-options="c.name for c in categories">
        <option value="">Choose category...</option>
      </select>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input class="form-control" data-on-blur="endEdit(category)" data-ng-model="category.budgetedAmount" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input class="form-control" data-on-blur="endEdit(category)" data-ng-model="category.actualAmount" />
      </div>
    </div>
  </div>
</div>
<p data-ng-show="error">{{error}}</p>