<h1 class="page-header row">Categories</h1>
<div data-ng-include="'/app/partials/loader.html'"></div>

<ul id="category-list" class="">
  <li data-ng-repeat="category in categories" class="row">
    <div class="col-md-1">
      <button class="btn btn-sm btn-danger"
              data-ng-click="deleteCategory(category)"
              data-ng-show="category.budgetCategories.length === 0">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="col-md-3">
      {{category.name}}
    </div>
  </li>
</ul>
