<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DefaultConnection" 
        connectionString="Server=702b6a2f-412a-4f8a-8932-a350015a8b07.sqlserver.sequelizer.com;Database=db702b6a2f412a4f8a8932a350015a8b07;User ID=nmppuvnpmvgjnsud;Password=sxzL34CCSYAeRfs2gSYEbDsVkh3Fcc5BTjXooD8L8g27xB2xFwpW2rgVeMzTb5zP;database=db702b6a2f412a4f8a8932a350015a8b07" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>