@using System.Web.UI.WebControls
@model dynamic

@{
    ViewBag.Title = "Budget";
}

<!DOCTYPE html>

<h1>@ViewBag.Title</h1>
<div data-ng-app="budget">
    <div data-ng-view></div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/breeze")
    @Scripts.Render("~/bundles/budget")
}